input[type=text] {
    background-color: rgba(228, 222, 222, 0.329);
    color: lightgrey;
    display:border-box;
    width:70%;
    font-size: 1.3em;
    margin-right: 10px;
    align-self: center;
    padding:2px;
    border: 2px solid gray;
    border-radius: 3px;
    text-align:center;
  }
  .header {
    padding:8px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  